:root {
  --pink: #f72585;
  --teal: #5e60ce;
  --background-color: #1d1c1dff;
}

.story-create-container {
  max-width: 650px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.btn-primary {
  background: #0077ff;
  color: #fff;
}
.btn-secondary {
  background: #555;
  color: #fff;
}

button {
  padding: 0.55rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
